.cabecalho{
    background-color:cadetblue;
}

.cabecalho > nav{
    display: inline;
}

.titulo-pagina{
    background-color: black;
    color: white;
    display: inline;
}

.menu{
    list-style: none;
    display:inline;
}

.menu > li {
    display:inline;
    
}